@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    caret-color: transparent;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-left: -35px;
    margin-right: auto;
    width: 125px;
}

.nav_links {
    list-style: none;
    margin-right: -30px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a.active {
    text-decoration: underline;
}

.nav_links li a {
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: #7449ff;
}

.events-item span {
    cursor: default;
    transition: color 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.events-item:hover span {
    color: #7449ff;
}

.events-item span.active {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    background-color: #e0e0e0;
    list-style: none;
    padding: 10px;
    transform: translateX(-35%);
}

.dropdown li {
    display: block;
    padding: 10px;
}